$font_size_16: 16px;
$height: 6rem;

%myLine {
  word-break: break-all;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}

;

%ell {
  @extend %myLine;
  -webkit-line-clamp: 4;

}

@mixin col-style($line-clamp:2) {
  @extend %myLine;
  -webkit-line-clamp: $line-clamp;
  display: -moz-box;
  -moz-line-clamp: $line-clamp;
  -moz-box-orient: vertical;
  white-space: normal;
}